{"openapi":"3.1.0","info":{"title":"Way to Earth API","description":"러닝 기반 Journey Running 및 크루 시스템 API","contact":{"name":"Way to Earth Team","email":"team@waytoearth.com"},"version":"2.0.0"},"servers":[{"url":"http://waytoearth.cloud","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Journey Progress API","description":"여행 진행률 관리 API"},{"name":"러닝 AI 분석 API","description":"OpenAI를 활용한 러닝 기록 분석 및 피드백 제공"},{"name":"Story Card API","description":"스토리 카드 API"},{"name":"Statistics","description":"러닝 통계 API"},{"name":"Landmark API","description":"랜드마크 관리 API"},{"name":"Emblem API","description":"엠블럼 조회/지급 API"},{"name":"알림 API","description":"FCM 토큰 관리 및 알림 설정 API"},{"name":"Admin Landmark API","description":"관리자 전용 랜드마크 관리 API"},{"name":"Admin Story Card API","description":"관리자 전용 스토리 카드 관리 API"},{"name":"Crew Member Management","description":"크루 멤버 관리 API"},{"name":"러닝 기록 API","description":"러닝 시작, 업데이트, 완료 및 기록 조회 관련 API"},{"name":"Journey API","description":"여행 관리 API"},{"name":"Crew Statistics","description":"크루 통계 관리 API"},{"name":"사용자 API","description":"사용자 정보 조회 및 관리 관련 API"},{"name":"Crew Management","description":"크루 기본 관리 API"},{"name":"인증 API","description":"카카오 로그인 및 사용자 인증 관련 API"},{"name":"Guestbook API","description":"방명록 관리 API"},{"name":"Stamp API","description":"스탬프 수집 API"},{"name":"Weather","description":"날씨 조회 API"},{"name":"파일 업로드","description":"S3 Presigned URL 기반 파일 업로드 API"},{"name":"크루 채팅","description":"크루 채팅 관련 API"},{"name":"Crew Join Management","description":"크루 가입 관리 API"},{"name":"Feed API","description":"피드 작성, 조회, 좋아요, 삭제, 이미지 업로드 API"},{"name":"Journey Route API","description":"여정 경로 관리 API"}],"paths":{"/v1/users/me":{"get":{"tags":["사용자 API"],"summary":"내 정보 전체 조회","description":"현재 로그인한 사용자의 전체 정보를 조회합니다.","operationId":"me","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserInfoResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["사용자 API"],"summary":"프로필 수정","description":"닉네임, 프로필 이미지, 거주지, 주간 목표 거리 등을 수정합니다.","operationId":"updateProfile","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/journey-progress/{progressId}":{"get":{"tags":["Journey Progress API"],"summary":"현재 진행률 조회","description":"현재 여행 진행률을 조회합니다.\n\n**조회 정보:**\n- 현재 누적 거리\n- 진행률 퍼센티지\n- 다음 랜드마크 정보\n- 수집한 스탬프 수\n- 총 랜드마크 수\n","operationId":"getProgress","parameters":[{"name":"progressId","in":"path","description":"진행 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JourneyProgressResponse"}}}}}},"put":{"tags":["Journey Progress API"],"summary":"진행률 업데이트","description":"여행 진행률을 업데이트합니다.\n\n**업데이트 정보:**\n- 이번 세션에서 뛴 거리\n- 현재 위치 정보\n- 운동 시간 및 칼로리\n- 평균 페이스\n\n**자동 처리:**\n- 총 누적 거리 계산\n- 진행률 퍼센티지 계산\n- 다음 랜드마크 정보 업데이트\n- 100% 달성 시 자동 완료 처리\n","operationId":"updateProgress","parameters":[{"name":"progressId","in":"path","description":"진행 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JourneyProgressUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JourneyProgressResponse"}}}}}}},"/v1/crews/{crewId}":{"get":{"tags":["Crew Management"],"summary":"크루 상세 조회","description":"특정 크루의 상세 정보를 조회합니다.","operationId":"getCrewDetail","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}}}},"put":{"tags":["Crew Management"],"summary":"크루 정보 수정","description":"크루 정보를 수정합니다. 크루장만 가능합니다.","operationId":"updateCrew","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrewUpdateRequest"}}},"required":true},"responses":{"200":{"description":"수정 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}},"403":{"description":"권한 없음 (크루장이 아님)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}}}},"delete":{"tags":["Crew Management"],"summary":"크루 삭제","description":"크루를 삭제합니다. 크루장만 가능합니다.","operationId":"deleteCrew","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"삭제 성공"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음 (크루장이 아님)"},"404":{"description":"크루를 찾을 수 없음"}}}},"/v1/crews/{crewId}/chat/notification-settings":{"get":{"tags":["크루 채팅"],"summary":"알림 설정 조회","description":"사용자의 채팅 알림 설정을 조회합니다.","operationId":"getNotificationSettings","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCrewChatNotificationSettingEntity"}}}}}},"put":{"tags":["크루 채팅"],"summary":"알림 설정 업데이트","description":"사용자의 채팅 알림 설정을 업데이트합니다.","operationId":"updateNotificationSettings","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCrewChatNotificationSettingEntity"}}}}}}},"/v1/stamps/collect":{"post":{"tags":["Stamp API"],"summary":"스탬프 수집","description":"랜드마크에서 스탬프를 수집합니다.\n\n**수집 조건:**\n- 랜드마크 500m 반경 내에 위치해야 함\n- 해당 랜드마크에 진행률상 도달해야 함\n- 중복 수집 불가\n\n**특별 스탬프 조건:**\n- 여정의 첫 번째/마지막 랜드마크\n- 사용자의 첫 번째 스탬프 수집\n","operationId":"collectStamp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StampCollectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StampResponse"}}}}}}},"/v1/running/update":{"post":{"tags":["러닝 기록 API"],"summary":"러닝 중 주기 업데이트","operationId":"update","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunningUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRunningUpdateResponse"}}}}}}},"/v1/running/start":{"post":{"tags":["러닝 기록 API"],"summary":"러닝 시작","operationId":"start","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunningStartRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRunningStartResponse"}}}}}}},"/v1/running/resume":{"post":{"tags":["러닝 기록 API"],"summary":"러닝 재개","operationId":"resume","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunningPauseResumeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRunningPauseResumeResponse"}}}}}}},"/v1/running/pause":{"post":{"tags":["러닝 기록 API"],"summary":"러닝 일시정지","operationId":"pause","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunningPauseResumeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRunningPauseResumeResponse"}}}}}}},"/v1/running/complete":{"post":{"tags":["러닝 기록 API"],"summary":"러닝 완료","operationId":"complete","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunningCompleteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRunningCompleteResponse"}}}}}}},"/v1/running/analysis/{runningRecordId}":{"get":{"tags":["러닝 AI 분석 API"],"summary":"러닝 기록 AI 분석 조회","description":"이미 생성된 AI 피드백을 조회합니다.\n\n- 분석이 없으면 404 Not Found 반환\n- 캐싱된 데이터만 반환 (OpenAI API 호출 없음)\n","operationId":"getFeedback","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"runningRecordId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRunningAnalysisResponse"}}}}}},"post":{"tags":["러닝 AI 분석 API"],"summary":"러닝 기록 AI 분석 생성","description":"완료된 러닝 기록을 AI로 분석하여 새로운 피드백을 생성합니다.\n\n- 이미 분석된 기록은 409 Conflict 반환\n- 미완료 기록은 분석 불가\n- 거리, 시간, 페이스, 칼로리 데이터 기반 분석\n- 향후 케이던스, 심박수 데이터 추가 예정\n","operationId":"analyzeRunning","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"runningRecordId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRunningAnalysisResponse"}}}}}}},"/v1/notifications/test/send-to-me":{"post":{"tags":["알림 API"],"summary":"[테스트] 나에게 푸시알림 전송","description":"개발/테스트용: 현재 로그인한 사용자에게 테스트 푸시알림을 즉시 전송합니다.","operationId":"sendTestNotificationToMe","parameters":[{"name":"title","in":"query","description":"알림 제목 (선택)","required":false,"schema":{"type":"string","default":"테스트 알림"}},{"name":"body","in":"query","description":"알림 내용 (선택)","required":false,"schema":{"type":"string","default":"푸시알림 테스트입니다!"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}},"security":[{"Bearer Authentication":[]}]}},"/v1/notifications/test/send-to-all":{"post":{"tags":["알림 API"],"summary":"[테스트] 모든 사용자에게 푸시알림 전송","description":"개발/테스트용: 모든 활성 사용자에게 테스트 푸시알림을 즉시 전송합니다. (주의: 실제 사용자에게 전송됨)","operationId":"sendTestNotificationToAll","parameters":[{"name":"title","in":"query","description":"알림 제목 (선택)","required":false,"schema":{"type":"string","default":"공지사항"}},{"name":"body","in":"query","description":"알림 내용 (선택)","required":false,"schema":{"type":"string","default":"WayToEarth 테스트 알림입니다."}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}},"security":[{"Bearer Authentication":[]}]}},"/v1/notifications/fcm-token":{"post":{"tags":["알림 API"],"summary":"FCM 토큰 등록","description":"푸시 알림을 위한 FCM 토큰 등록/갱신","operationId":"registerFcmToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FcmTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}},"security":[{"Bearer Authentication":[]}]},"delete":{"tags":["알림 API"],"summary":"모든 FCM 토큰 비활성화","description":"사용자의 모든 디바이스 FCM 토큰 비활성화","operationId":"deactivateAllTokens","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}},"security":[{"Bearer Authentication":[]}]}},"/v1/journeys/{journeyId}/start":{"post":{"tags":["Journey API"],"summary":"여행 시작","description":"새로운 여행을 시작합니다.","operationId":"startJourney","parameters":[{"name":"journeyId","in":"path","description":"여행 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","description":"사용자 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JourneyProgressResponse"}}}}}}},"/v1/guestbook":{"post":{"tags":["Guestbook API"],"summary":"방명록 작성","description":"랜드마크에 방명록을 작성합니다.\n\n**작성 가능 항목:**\n- 메시지 (필수, 최대 500자)\n- 공개/비공개 설정\n","operationId":"createGuestbook","parameters":[{"name":"userId","in":"query","description":"사용자 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestbookCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GuestbookResponse"}}}}}}},"/v1/files/presign/profile":{"post":{"tags":["파일 업로드"],"summary":"프로필 이미지 업로드 Presigned URL 발급","description":"사용자 프로필 이미지를 업로드하기 위한 S3 Presigned URL을 발급합니다.\n\n**지원 파일 형식:**\n- JPEG (.jpg, .jpeg)\n- PNG (.png)\n- WebP (.webp)\n\n**파일 크기 제한:**\n- 최대 5MB\n\n**S3 저장 경로:**\n- `profiles/{userId}/profile.{extension}`\n","operationId":"presignProfile","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"description":"업로드할 파일 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignRequest"},"example":{"contentType":"image/jpeg","size":2048000}}},"required":true},"responses":{"200":{"description":"Presigned URL 발급 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"example":{"success":true,"message":"프로필 이미지 업로드 URL이 성공적으로 발급되었습니다.","data":{"upload_url":"https://bucket.s3.amazonaws.com/profiles/1/profile.jpg?...","download_url":"https://bucket.s3.amazonaws.com/profiles/1/profile.jpg?...","key":"profiles/1/profile.jpg","expires_in":300}}}}},"400":{"description":"잘못된 요청 (파일 크기 초과, 지원하지 않는 형식 등)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}}}}},"/v1/files/presign/feed":{"post":{"tags":["파일 업로드"],"summary":"피드 이미지 업로드 Presigned URL 발급","description":"피드 게시물에 첨부할 이미지를 업로드하기 위한 S3 Presigned URL을 발급합니다.\n\n**지원 파일 형식:**\n- JPEG (.jpg, .jpeg)\n- PNG (.png)\n- WebP (.webp)\n\n**파일 크기 제한:**\n- 최대 10MB\n\n**S3 저장 경로:**\n- `feeds/{yyyy-MM-dd}/{userId}/{uuid}`\n","operationId":"presignFeed","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"description":"업로드할 파일 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignRequest"},"example":{"contentType":"image/png","size":5120000}}},"required":true},"responses":{"200":{"description":"Presigned URL 발급 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"example":{"success":true,"message":"피드 이미지 업로드 URL이 성공적으로 발급되었습니다.","data":{"upload_url":"https://bucket.s3.amazonaws.com/feeds/2024-12-21/1/uuid?...","download_url":"https://bucket.s3.amazonaws.com/feeds/2024-12-21/1/uuid?...","key":"feeds/2024-12-21/1/uuid","expires_in":300}}}}},"400":{"description":"잘못된 요청 (파일 크기 초과, 지원하지 않는 형식 등)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}}}}},"/v1/files/presign/crew/{crewId}":{"post":{"tags":["파일 업로드"],"summary":"크루 프로필 이미지 업로드 Presigned URL 발급","description":"크루 프로필 이미지를 업로드하기 위한 S3 Presigned URL을 발급합니다.\n\n**지원 파일 형식:**\n- JPEG (.jpg, .jpeg)\n- PNG (.png)\n- WebP (.webp)\n\n**파일 크기 제한:**\n- 최대 5MB\n\n**S3 저장 경로:**\n- `crews/{crewId}/profile.{extension}`\n\n**권한:**\n- 크루장만 업로드 가능\n","operationId":"presignCrewProfile","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"업로드할 파일 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignRequest"},"example":{"contentType":"image/jpeg","size":2048000}}},"required":true},"responses":{"200":{"description":"Presigned URL 발급 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"example":{"success":true,"message":"크루 프로필 이미지 업로드 URL이 성공적으로 발급되었습니다.","data":{"upload_url":"https://bucket.s3.amazonaws.com/crews/123/profile.jpg?...","download_url":"https://bucket.s3.amazonaws.com/crews/123/profile.jpg?...","key":"crews/123/profile.jpg","expires_in":300}}}}},"400":{"description":"잘못된 요청 (파일 크기 초과, 지원하지 않는 형식 등)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}},"403":{"description":"권한 없음 (크루장이 아님)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}}}}},"/v1/feeds":{"get":{"tags":["Feed API"],"summary":"피드 목록 조회 (무한 스크롤)","operationId":"getFeeds","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":8}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListFeedResponse"}}}}}},"post":{"tags":["Feed API"],"summary":"피드 작성","operationId":"createFeed","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFeedResponse"}}}}}}},"/v1/feeds/{feedId}/like":{"post":{"tags":["Feed API"],"summary":"피드 좋아요 (토글)","operationId":"toggleLike","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"feedId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFeedLikeResponse"}}}}}}},"/v1/feeds/{feedId}/image/presign":{"post":{"tags":["Feed API"],"summary":"피드 이미지 업로드 Presigned URL 발급","operationId":"presignImageUpload","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"feedId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}}}}},"/v1/emblems/{id}/award":{"post":{"tags":["Emblem API"],"summary":"엠블럼 지급 시도(단건)","description":"조건 충족 시 해당 엠블럼을 지급합니다.","operationId":"awardOne","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmblemAwardResult"}}}}}}},"/v1/emblems/award/scan":{"post":{"tags":["Emblem API"],"summary":"엠블럼 일괄 스캔 지급","description":"scope: DISTANCE | ALL (기본 DISTANCE)","operationId":"scanAndAward","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"scope","in":"query","required":false,"schema":{"type":"string","default":"DISTANCE"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmblemAwardResult"}}}}}}},"/v1/crews":{"get":{"tags":["Crew Management"],"summary":"크루 목록 조회","description":"활성화된 모든 크루 목록을 페이징하여 조회합니다.","operationId":"getCrews","parameters":[{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","description":"정렬 기준","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"direction","in":"query","description":"정렬 방향","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageCrewListResponse"}}}}}},"post":{"tags":["Crew Management"],"summary":"크루 생성","description":"새로운 크루를 생성합니다. 생성자가 자동으로 크루장이 됩니다.","operationId":"createCrew","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrewCreateRequest"}}},"required":true},"responses":{"201":{"description":"크루 생성 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}}}}},"/v1/crews/{crewId}/transfer-ownership":{"post":{"tags":["Crew Member Management"],"summary":"크루장 권한 이양","description":"현재 크루장이 다른 멤버에게 크루장 권한을 이양합니다.","operationId":"transferOwnership","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnershipTransferRequest"}}},"required":true},"responses":{"200":{"description":"권한 이양 성공"},"400":{"description":"자기 자신에게 이양하려고 시도하거나 대상이 멤버가 아님"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음 (크루장이 아님)"},"404":{"description":"크루 또는 대상 사용자를 찾을 수 없음"}}}},"/v1/crews/{crewId}/join-requests":{"get":{"tags":["Crew Join Management"],"summary":"크루별 가입 신청 목록","description":"특정 크루에 대한 가입 신청 목록을 조회합니다. 크루장만 가능합니다.","operationId":"getCrewJoinRequests","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","description":"신청 상태 필터","required":false,"schema":{"type":"string","enum":["PENDING","APPROVED","REJECTED","CANCELLED"]}},{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageJoinRequestResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageJoinRequestResponse"}}}},"403":{"description":"권한 없음 (크루장이 아님)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageJoinRequestResponse"}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageJoinRequestResponse"}}}}}},"post":{"tags":["Crew Join Management"],"summary":"크루 가입 신청","description":"특정 크루에 가입 신청을 합니다.","operationId":"requestToJoin","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrewJoinRequest"}}},"required":true},"responses":{"201":{"description":"가입 신청 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JoinRequestResponse"}}}},"400":{"description":"잘못된 요청 (이미 멤버이거나 대기 중인 신청 존재)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JoinRequestResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JoinRequestResponse"}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JoinRequestResponse"}}}}}}},"/v1/crews/{crewId}/chat/messages/{messageId}/read":{"post":{"tags":["크루 채팅"],"summary":"메시지 읽음 처리","description":"특정 메시지를 읽음으로 표시합니다.","operationId":"markMessageAsRead","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"messageId","in":"path","description":"메시지 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/v1/crews/{crewId}/chat/messages/read/batch":{"post":{"tags":["크루 채팅"],"summary":"다중 메시지 읽음 처리","description":"여러 메시지를 읽음으로 표시합니다.","operationId":"markMessagesAsRead","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"메시지 ID 목록","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/v1/crews/{crewId}/chat/messages/read/all-after/{afterMessageId}":{"post":{"tags":["크루 채팅"],"summary":"특정 시점 이후 모든 메시지 읽음 처리","description":"특정 메시지 이후의 모든 메시지를 읽음으로 표시합니다.","operationId":"markAllMessagesAsReadAfter","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"afterMessageId","in":"path","description":"기준 메시지 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/v1/crews/statistics/{crewId}/reset":{"post":{"tags":["Crew Statistics"],"summary":"새 달 통계 초기화","description":"새로운 월의 통계를 초기화합니다. (관리자용)","operationId":"resetStatisticsForNewMonth","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newMonth","in":"query","description":"새로운 월 (YYYYMM 형식)","required":true,"schema":{"type":"string"},"example":202501}],"responses":{"200":{"description":"초기화 성공"},"404":{"description":"크루를 찾을 수 없음"}}}},"/v1/crews/statistics/{crewId}/mvp/refresh":{"post":{"tags":["Crew Statistics"],"summary":"월간 MVP 갱신","description":"특정 크루의 월간 MVP를 수동으로 갱신합니다. (관리자용)","operationId":"refreshMvp","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"month","in":"query","description":"월 (YYYYMM 형식)","required":false,"schema":{"type":"string"},"example":202412}],"responses":{"200":{"description":"갱신 성공"},"404":{"description":"크루를 찾을 수 없음"}}}},"/v1/crews/join-requests/{requestId}/reject":{"post":{"tags":["Crew Join Management"],"summary":"가입 신청 거부","description":"대기 중인 가입 신청을 거부합니다. 크루장만 가능합니다.","operationId":"rejectJoinRequest","parameters":[{"name":"requestId","in":"path","description":"가입 신청 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JoinRequestProcessRequest"}}},"required":true},"responses":{"200":{"description":"거부 성공"},"400":{"description":"이미 처리된 신청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음 (크루장이 아님)"},"404":{"description":"가입 신청을 찾을 수 없음"}}}},"/v1/crews/join-requests/{requestId}/approve":{"post":{"tags":["Crew Join Management"],"summary":"가입 신청 승인","description":"대기 중인 가입 신청을 승인합니다. 크루장만 가능합니다.","operationId":"approveJoinRequest","parameters":[{"name":"requestId","in":"path","description":"가입 신청 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JoinRequestProcessRequest"}}},"required":true},"responses":{"200":{"description":"승인 성공"},"400":{"description":"이미 처리된 신청이거나 정원 초과"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음 (크루장이 아님)"},"404":{"description":"가입 신청을 찾을 수 없음"}}}},"/v1/auth/onboarding":{"post":{"tags":["인증 API"],"summary":"온보딩 완료","description":"신규 사용자 온보딩 정보 입력","operationId":"completeOnboarding","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingRequest"}}},"required":true},"responses":{"200":{"description":"온보딩 완료","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOnboardingResponse"}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOnboardingResponse"}}}},"401":{"description":"인증 토큰 없음/만료","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOnboardingResponse"}}}},"500":{"description":"서버 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOnboardingResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/auth/kakao":{"post":{"tags":["인증 API"],"summary":"카카오 로그인","description":"카카오 SDK에서 받은 액세스 토큰으로 로그인 처리","operationId":"kakaoLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KakaoLoginRequest"}}},"required":true},"responses":{"200":{"description":"로그인 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResponse"}}}},"400":{"description":"잘못된 액세스 토큰","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResponse"}}}},"500":{"description":"서버 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResponse"}}}}}}},"/v1/admin/story-cards/image/presign":{"post":{"tags":["Admin Story Card API"],"summary":"스토리 이미지 업로드 Presigned URL 발급 (관리자 전용)","description":"관리자가 스토리 카드에 사용할 이미지를 업로드하기 위한 S3 Presigned URL을 발급합니다.\n\n**권한:**\n- 관리자만 접근 가능\n\n**지원 파일 형식:**\n- JPEG (.jpg, .jpeg)\n- PNG (.png)\n- WebP (.webp)\n\n**파일 크기 제한:**\n- 최대 10MB\n\n**S3 저장 경로:**\n- `journeys/stories/{yyyy-MM-dd}/{userId}/{uuid}`\n\n**사용 용도:**\n- 스토리 카드 썸네일 이미지\n- 스토리 내용 첨부 이미지\n- 역사/문화/자연 관련 이미지\n","operationId":"presignImageUpload_1","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"description":"업로드할 파일 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignRequest"},"example":{"contentType":"image/jpeg","size":6291456}}},"required":true},"responses":{"200":{"description":"Presigned URL 발급 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"example":{"success":true,"message":"스토리 이미지 업로드 URL이 성공적으로 발급되었습니다.","data":{"upload_url":"https://bucket.s3.amazonaws.com/journeys/stories/2024-12-21/1/uuid?...","download_url":"https://bucket.s3.amazonaws.com/journeys/stories/2024-12-21/1/uuid?...","key":"journeys/stories/2024-12-21/1/uuid","expires_in":300}}}}},"400":{"description":"잘못된 요청 (파일 크기 초과, 지원하지 않는 형식 등)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}},"403":{"description":"권한 없음 (관리자 권한 필요)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}}}}},"/v1/admin/landmarks/image/presign":{"post":{"tags":["Admin Landmark API"],"summary":"랜드마크 이미지 업로드 Presigned URL 발급 (관리자 전용)","description":"관리자가 랜드마크에 사용할 이미지를 업로드하기 위한 S3 Presigned URL을 발급합니다.\n\n**권한:**\n- 관리자만 접근 가능\n\n**지원 파일 형식:**\n- JPEG (.jpg, .jpeg)\n- PNG (.png)\n- WebP (.webp)\n\n**파일 크기 제한:**\n- 최대 10MB\n\n**S3 저장 경로:**\n- `journeys/landmarks/{yyyy-MM-dd}/{userId}/{uuid}`\n\n**사용 용도:**\n- 랜드마크 메인 이미지\n- 랜드마크 갤러리 이미지\n- 랜드마크 배경 이미지\n","operationId":"presignImageUpload_2","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"description":"업로드할 파일 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignRequest"},"example":{"contentType":"image/jpeg","size":6291456}}},"required":true},"responses":{"200":{"description":"Presigned URL 발급 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"example":{"success":true,"message":"랜드마크 이미지 업로드 URL이 성공적으로 발급되었습니다.","data":{"upload_url":"https://bucket.s3.amazonaws.com/journeys/landmarks/2024-12-21/1/uuid?...","download_url":"https://bucket.s3.amazonaws.com/journeys/landmarks/2024-12-21/1/uuid?...","key":"journeys/landmarks/2024-12-21/1/uuid","expires_in":300}}}}},"400":{"description":"잘못된 요청 (파일 크기 초과, 지원하지 않는 형식 등)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}},"403":{"description":"권한 없음 (관리자 권한 필요)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignResponse"}}}}}}},"/v1/running/{recordId}/title":{"patch":{"tags":["러닝 기록 API"],"summary":"러닝 제목 수정","operationId":"updateTitle","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"recordId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunningTitleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/v1/notifications/settings":{"get":{"tags":["알림 API"],"summary":"알림 설정 조회","description":"사용자의 알림 설정 조회","operationId":"getNotificationSettings_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNotificationSettingResponse"}}}}},"security":[{"Bearer Authentication":[]}]},"patch":{"tags":["알림 API"],"summary":"알림 설정 업데이트","description":"사용자의 알림 설정 업데이트","operationId":"updateNotificationSettings_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationSettingUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNotificationSettingResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/v1/crews/{crewId}/toggle-status":{"patch":{"tags":["Crew Management"],"summary":"크루 활성화/비활성화 토글","description":"크루 상태를 활성화/비활성화로 변경합니다. 크루장만 가능합니다.","operationId":"toggleCrewStatus","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"상태 변경 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}},"403":{"description":"권한 없음 (크루장이 아님)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewDetailResponse"}}}}}}},"/v1/crews/{crewId}/members/{userId}/role":{"patch":{"tags":["Crew Member Management"],"summary":"크루 멤버 역할 변경","description":"크루 멤버의 역할을 변경합니다. 크루장만 가능합니다.","operationId":"changeMemberRole","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","description":"대상 사용자 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberRoleChangeRequest"}}},"required":true},"responses":{"200":{"description":"역할 변경 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewMemberResponse"}}}},"400":{"description":"잘못된 역할 또는 자기 자신의 역할 변경 시도","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewMemberResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewMemberResponse"}}}},"403":{"description":"권한 없음 (크루장이 아님)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewMemberResponse"}}}},"404":{"description":"크루 또는 멤버를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewMemberResponse"}}}}}}},"/v1/weather/current":{"get":{"tags":["Weather"],"summary":"현재 날씨 조회","description":"좌표(lat, lon) 기반 현재 날씨를 반환합니다.","operationId":"getCurrent","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","format":"double","maximum":90,"minimum":-90}},{"name":"lon","in":"query","required":true,"schema":{"type":"number","format":"double","maximum":180,"minimum":-180}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWeatherCurrentResponse"}}}}}}},"/v1/users/me/summary":{"get":{"tags":["사용자 API"],"summary":"내 정보 요약 조회","description":"총거리, 러닝 횟수, 엠블럼, 완성도 등 요약 정보를 조회합니다.","operationId":"summary","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserSummaryResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/users/check-nickname":{"get":{"tags":["사용자 API"],"summary":"닉네임 중복 확인","description":"닉네임 사용 가능 여부를 확인합니다.","operationId":"checkNicknameDuplicate","parameters":[{"name":"nickname","in":"query","description":"중복 확인할 닉네임","required":true,"schema":{"type":"string"},"example":"runner_kim"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringBoolean"}}}}}}},"/v1/story-cards/{storyCardId}":{"get":{"tags":["Story Card API"],"summary":"스토리 카드 상세","description":"스토리 카드의 상세 정보를 조회합니다.\n\n**조회 정보:**\n- 스토리 제목 및 내용\n- 스토리 이미지\n- 오디오 가이드 URL (있는 경우)\n- 스토리 타입 (HISTORY/CULTURE/NATURE)\n- 표시 순서\n\n**스토리 타입:**\n- HISTORY: 역사 정보\n- CULTURE: 문화 정보\n- NATURE: 자연 정보\n","operationId":"getStoryCard","parameters":[{"name":"storyCardId","in":"path","description":"스토리 카드 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoryCardResponse"}}}}}}},"/v1/statistics/weekly":{"get":{"tags":["Statistics"],"summary":"주간 통계 조회","description":"로그인한 사용자 기준으로 이번 주(월~일) 러닝 통계를 반환합니다.","operationId":"getWeeklyStats","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RunningWeeklyStatsResponse"},"examples":{"success":{"description":"success","value":{"totalDistance":29.7,"totalDuration":13560,"averagePace":"07:30","totalCalories":1729,"dailyDistances":[{"day":"MONDAY","distance":4.1},{"day":"TUESDAY","distance":6.0},{"day":"WEDNESDAY","distance":8.2},{"day":"THURSDAY","distance":5.4},{"day":"FRIDAY","distance":3.2},{"day":"SATURDAY","distance":2.8},{"day":"SUNDAY","distance":0.0}]}}}}}},"401":{"description":"인증 실패 (JWT 누락/만료)","content":{"application/json":{}}},"403":{"description":"권한 부족","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]}},"/v1/stamps/users/{userId}":{"get":{"tags":["Stamp API"],"summary":"사용자 스탬프 목록","description":"사용자가 수집한 모든 스탬프를 조회합니다.","operationId":"getUserStamps","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StampResponse"}}}}}}}},"/v1/stamps/users/{userId}/statistics":{"get":{"tags":["Stamp API"],"summary":"스탬프 통계","description":"사용자의 스탬프 수집 통계를 조회합니다.","operationId":"getStampStatistics","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StampStatistics"}}}}}}},"/v1/stamps/progress/{progressId}":{"get":{"tags":["Stamp API"],"summary":"여행별 스탬프 목록","description":"특정 여행에서 수집한 스탬프를 조회합니다.","operationId":"getProgressStamps","parameters":[{"name":"progressId","in":"path","description":"여행 진행 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StampResponse"}}}}}}}},"/v1/stamps/check-collection":{"get":{"tags":["Stamp API"],"summary":"스탬프 수집 가능 여부 확인","description":"현재 위치에서 스탬프 수집이 가능한지 확인합니다.","operationId":"checkCollectionAvailability","parameters":[{"name":"progressId","in":"query","description":"여행 진행 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"landmarkId","in":"query","description":"랜드마크 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"latitude","in":"query","description":"현재 위도","required":true,"schema":{"type":"number","format":"double"}},{"name":"longitude","in":"query","description":"현재 경도","required":true,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/v1/running/{recordId}":{"get":{"tags":["러닝 기록 API"],"summary":"러닝 상세 조회(경로 포함)","operationId":"detail","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"recordId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRunningCompleteResponse"}}}}}}},"/v1/running/records":{"get":{"tags":["러닝 기록 API"],"summary":"러닝 기록 목록 조회 (Offset 페이징)","operationId":"getRecords","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResponseRunningRecordSummaryResponse"}}}}}}},"/v1/running/records/cursor":{"get":{"tags":["러닝 기록 API"],"summary":"러닝 기록 목록 조회 (Cursor 페이징)","description":"커서 기반 무한 스크롤용 API\n\n**첫 페이지 조회:**\nGET /v1/running/records/cursor?size=10\n\n**다음 페이지 조회:**\nGET /v1/running/records/cursor?cursor=91&size=10\n\n**응답 예시:**\n{\n  \"content\": [...],\n  \"nextCursor\": 81,\n  \"hasNext\": true,\n  \"size\": 10\n}\n","operationId":"getRecordsByCursor","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"cursor","in":"query","description":"마지막으로 본 기록의 ID (없으면 첫 페이지)","required":false,"schema":{"type":"integer","format":"int64"},"example":91},{"name":"size","in":"query","description":"한 번에 가져올 데이터 개수","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCursorPageResponseRunningRecordSummaryResponse"}}}}}}},"/v1/landmarks/{landmarkId}":{"get":{"tags":["Landmark API"],"summary":"랜드마크 상세 정보","description":"랜드마크의 상세 정보를 조회합니다.","operationId":"getLandmark","parameters":[{"name":"landmarkId","in":"path","description":"랜드마크 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","description":"사용자 ID (스탬프 수집 여부 확인용)","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LandmarkDetailResponse"}}}}}}},"/v1/landmarks/{landmarkId}/stories":{"get":{"tags":["Landmark API"],"summary":"랜드마크의 스토리 카드 목록","description":"랜드마크의 모든 스토리 카드를 조회합니다.","operationId":"getStoryCards","parameters":[{"name":"landmarkId","in":"path","description":"랜드마크 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"query","description":"스토리 타입 필터","required":false,"schema":{"type":"string","enum":["HISTORY","CULTURE","NATURE"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoryCardResponse"}}}}}}}},"/v1/landmarks/journey/{journeyId}":{"get":{"tags":["Landmark API"],"summary":"여행의 랜드마크 목록","description":"특정 여행의 모든 랜드마크를 조회합니다.","operationId":"getLandmarksByJourney","parameters":[{"name":"journeyId","in":"path","description":"여행 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LandmarkSummaryResponse"}}}}}}}},"/v1/journeys":{"get":{"tags":["Journey API"],"summary":"여행 목록 조회","description":"활성화된 모든 여행 목록을 조회합니다.\n\n**응답 정보:**\n- 여정 기본 정보 (제목, 설명, 총 거리)\n- 완주자 통계 (\"이 여정을 완주한 러너 X명\")\n- 랜드마크 개수\n- 예상 완주 기간\n- 난이도 (EASY/MEDIUM/HARD)\n","operationId":"getJourneys","parameters":[{"name":"category","in":"query","description":"카테고리 필터","required":false,"schema":{"type":"string","enum":["DOMESTIC","INTERNATIONAL"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JourneySummaryResponse"}}}}}}}},"/v1/journeys/{journeyId}":{"get":{"tags":["Journey API"],"summary":"여행 상세 조회","description":"특정 여행의 상세 정보를 조회합니다.","operationId":"getJourney","parameters":[{"name":"journeyId","in":"path","description":"여행 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JourneyEntity"}}}}}}},"/v1/journeys/{journeyId}/routes":{"get":{"tags":["Journey Route API"],"summary":"여정 경로 조회","description":"여정의 경로 좌표들을 조회합니다.\n\n**조회 옵션:**\n- 전체 경로 조회 (페이징 지원)\n- 구간별 경로 조회 (from, to 파라미터 사용)\n\n**페이징:**\n- page: 페이지 번호 (0부터 시작)\n- size: 페이지 크기 (기본 100개)\n\n**구간 조회:**\n- from: 시작 sequence 번호\n- to: 끝 sequence 번호\n\n**응답 데이터:**\n- 위도, 경도 좌표\n- sequence 순서로 정렬\n- 고도 정보 (있는 경우)\n- 구간 설명 (있는 경우)\n","operationId":"getJourneyRoutes","parameters":[{"name":"journeyId","in":"path","description":"여정 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"from","in":"query","description":"시작 sequence 번호 (구간 조회용)","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"to","in":"query","description":"끝 sequence 번호 (구간 조회용)","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"경로 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"},"example":{"content":[{"id":1,"latitude":37.5665,"longitude":126.978,"sequence":1,"altitude":120.5,"description":"한강대교 진입"},{"id":2,"latitude":37.567,"longitude":126.9785,"sequence":2,"altitude":118.2,"description":"한강대교 중앙"}],"pageable":{"pageNumber":0,"pageSize":100},"totalElements":1500,"totalPages":15}}}},"404":{"description":"여정을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageJourneyRouteResponse"}}}}}}},"/v1/journeys/{journeyId}/routes/statistics":{"get":{"tags":["Journey Route API"],"summary":"여정 경로 통계","description":"여정의 경로 관련 통계 정보를 조회합니다.\n\n**제공 정보:**\n- 총 경로 포인트 수\n- 최대 sequence 번호\n- 최소 sequence 번호\n\n**활용 방안:**\n- 구간별 조회를 위한 범위 설정\n- 경로 데이터 존재 여부 확인\n- 페이징 계산을 위한 기초 데이터\n","operationId":"getJourneyRouteStatistics","parameters":[{"name":"journeyId","in":"path","description":"여정 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JourneyRouteStatistics"}}}}}}},"/v1/journeys/{journeyId}/routes/all":{"get":{"tags":["Journey Route API"],"summary":"여정 전체 경로 조회 (리스트)","description":"여정의 모든 경로 좌표를 리스트로 조회합니다.\n페이징 없이 전체 데이터를 한번에 반환합니다.\n\n**주의사항:**\n- 경로가 긴 여정의 경우 응답 크기가 클 수 있습니다\n- 메모리 효율을 위해 가급적 페이징 API 사용을 권장합니다\n\n**사용 케이스:**\n- 전체 경로를 한번에 지도에 그려야 하는 경우\n- 경로 데이터를 캐싱하는 경우\n","operationId":"getAllJourneyRoutes","parameters":[{"name":"journeyId","in":"path","description":"여정 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"from","in":"query","description":"시작 sequence 번호 (구간 조회용)","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"to","in":"query","description":"끝 sequence 번호 (구간 조회용)","required":false,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JourneyRouteResponse"}}}}}}}},"/v1/journeys/{journeyId}/completion-estimate":{"get":{"tags":["Journey API"],"summary":"완주 예상 기간 계산","description":"사용자의 러닝 패턴(주당 횟수, 평균 거리)에 따른 여정 완주 예상 기간을 계산합니다.","operationId":"getCompletionEstimate","parameters":[{"name":"journeyId","in":"path","description":"여행 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"runsPerWeek","in":"query","description":"주당 러닝 횟수","required":false,"schema":{"type":"integer","format":"int32","default":3},"example":3},{"name":"averageDistancePerRun","in":"query","description":"1회 평균 거리 (km)","required":false,"schema":{"type":"number","format":"double","default":5.0},"example":5.0}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JourneyCompletionEstimateResponse"}}}}}}},"/v1/journeys/search":{"get":{"tags":["Journey API"],"summary":"여행 검색","description":"제목으로 여행을 검색합니다.","operationId":"searchJourneys","parameters":[{"name":"keyword","in":"query","description":"검색 키워드","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JourneySummaryResponse"}}}}}}}},"/v1/journey-progress/user/{userId}":{"get":{"tags":["Journey Progress API"],"summary":"사용자 여행 목록","description":"사용자의 모든 여행 진행 상황을 조회합니다.\n\n**조회 정보:**\n- 진행 중인 여행 목록\n- 완료된 여행 목록\n- 일시정지된 여행 목록\n- 각 여행의 진행률 및 상태\n","operationId":"getUserJourneys","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JourneyProgressResponse"}}}}}}}},"/v1/guestbook/users/{userId}":{"get":{"tags":["Guestbook API"],"summary":"내 방명록 목록","description":"사용자가 작성한 모든 방명록을 조회합니다.","operationId":"getUserGuestbook","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GuestbookResponse"}}}}}}}},"/v1/guestbook/recent":{"get":{"tags":["Guestbook API"],"summary":"최근 방명록 조회","description":"전체 공개 방명록을 최신순으로 조회합니다.","operationId":"getRecentGuestbook","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageGuestbookResponse"}}}}}}},"/v1/guestbook/landmarks/{landmarkId}":{"get":{"tags":["Guestbook API"],"summary":"랜드마크별 방명록 조회","description":"특정 랜드마크의 공개 방명록을 조회합니다.","operationId":"getLandmarkGuestbook","parameters":[{"name":"landmarkId","in":"path","description":"랜드마크 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageGuestbookResponse"}}}}}}},"/v1/guestbook/landmarks/{landmarkId}/statistics":{"get":{"tags":["Guestbook API"],"summary":"랜드마크 통계","description":"랜드마크의 방명록 및 방문자 통계를 조회합니다.","operationId":"getLandmarkStatistics","parameters":[{"name":"landmarkId","in":"path","description":"랜드마크 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LandmarkStatistics"}}}}}}},"/v1/feeds/{feedId}":{"get":{"tags":["Feed API"],"summary":"피드 단건 조회 (좋아요 여부 포함)","operationId":"getFeed","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"feedId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFeedResponse"}}}}}},"delete":{"tags":["Feed API"],"summary":"피드 삭제","operationId":"deleteFeed","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"feedId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/v1/emblems/{id}":{"get":{"tags":["Emblem API"],"summary":"엠블럼 상세","operationId":"detail_1","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmblemDetailResponse"}}}}}}},"/v1/emblems/me/summary":{"get":{"tags":["Emblem API"],"summary":"내 엠블럼 요약","operationId":"summary_1","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmblemSummaryResponse"}}}}}}},"/v1/emblems/catalog":{"get":{"tags":["Emblem API"],"summary":"엠블럼 카탈로그(필터/커서 지원)","operationId":"catalog","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"filter","in":"query","required":false,"schema":{"type":"string","default":"ALL"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListEmblemCatalogItem"}}}}}}},"/v1/crews/{crewId}/pending-requests/count":{"get":{"tags":["Crew Join Management"],"summary":"대기 중인 가입 신청 수","description":"특정 크루의 대기 중인 가입 신청 수를 조회합니다.","operationId":"getPendingRequestCount","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/v1/crews/{crewId}/members":{"get":{"tags":["Crew Member Management"],"summary":"크루 멤버 목록 조회","description":"특정 크루의 멤버 목록을 페이징하여 조회합니다.","operationId":"getCrewMembers","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageCrewMemberResponse"}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageCrewMemberResponse"}}}}}}},"/v1/crews/{crewId}/members/{userId}":{"get":{"tags":["Crew Member Management"],"summary":"특정 크루 멤버십 조회","description":"특정 크루에서의 사용자 멤버십 정보를 조회합니다.","operationId":"getCrewMembership","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewMemberResponse"}}}},"404":{"description":"멤버십을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewMemberResponse"}}}}}},"delete":{"tags":["Crew Member Management"],"summary":"크루 멤버 추방","description":"크루에서 특정 멤버를 추방합니다. 크루장만 가능합니다.","operationId":"removeMember","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","description":"추방할 사용자 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"추방 성공"},"400":{"description":"자기 자신을 추방하려고 시도"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음 (크루장이 아님)"},"404":{"description":"크루 또는 멤버를 찾을 수 없음"}}}},"/v1/crews/{crewId}/members/regular":{"get":{"tags":["Crew Member Management"],"summary":"크루 일반 멤버 목록","description":"크루의 일반 멤버들만 조회합니다 (크루장 제외).","operationId":"getRegularMembers","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewMemberResponse"}}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewMemberResponse"}}}}}}}},"/v1/crews/{crewId}/members/count":{"get":{"tags":["Crew Member Management"],"summary":"크루 멤버 수 조회","description":"특정 크루의 활성 멤버 수를 조회합니다.","operationId":"getCrewMemberCount","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/v1/crews/{crewId}/members/all":{"get":{"tags":["Crew Member Management"],"summary":"크루 멤버 목록 조회 (전체)","description":"특정 크루의 모든 멤버를 조회합니다. 사용자 정보 포함.","operationId":"getAllCrewMembers","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewMemberResponse"}}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewMemberResponse"}}}}}}}},"/v1/crews/{crewId}/join-requests/my":{"get":{"tags":["Crew Join Management"],"summary":"특정 크루에 대한 내 가입 신청 상태","description":"특정 크루에 대한 현재 사용자의 가입 신청 상태를 확인합니다.","operationId":"getMyJoinRequestForCrew","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공 (신청 내역 있음)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JoinRequestResponse"}}}},"204":{"description":"신청 내역 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JoinRequestResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JoinRequestResponse"}}}}}}},"/v1/crews/{crewId}/chat/unread-count":{"get":{"tags":["크루 채팅"],"summary":"읽지 않은 메시지 수 조회","description":"사용자가 읽지 않은 메시지 수를 조회합니다.","operationId":"getUnreadMessageCount","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInteger"}}}}}}},"/v1/crews/{crewId}/chat/messages":{"get":{"tags":["크루 채팅"],"summary":"채팅 메시지 목록 조회","description":"크루의 채팅 메시지를 페이지네이션으로 조회합니다.","operationId":"getChatMessages","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageCrewChatMessageDto"}}}}}}},"/v1/crews/{crewId}/chat/messages/recent":{"get":{"tags":["크루 채팅"],"summary":"최근 채팅 메시지 조회","description":"크루의 최근 채팅 메시지를 조회합니다.","operationId":"getRecentMessages","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"조회할 메시지 수","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCrewChatMessageDto"}}}}}}},"/v1/crews/{crewId}/can-join":{"get":{"tags":["Crew Join Management"],"summary":"크루 가입 가능 여부 확인","description":"특정 크루에 가입 가능한지 확인합니다.","operationId":"canJoinCrew","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"확인 완료","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/v1/crews/statistics/{crewId}/period":{"get":{"tags":["Crew Statistics"],"summary":"크루 기간별 통계 조회","description":"특정 기간 동안의 크루 통계를 조회합니다.","operationId":"getCrewStatisticsByPeriod","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"startMonth","in":"query","description":"시작 월 (YYYYMM 형식)","required":true,"schema":{"type":"string"},"example":202401},{"name":"endMonth","in":"query","description":"종료 월 (YYYYMM 형식)","required":true,"schema":{"type":"string"},"example":202412}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewStatisticsEntity"}}}}},"400":{"description":"잘못된 기간 형식","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewStatisticsEntity"}}}}}}}},"/v1/crews/statistics/{crewId}/mvp":{"get":{"tags":["Crew Statistics"],"summary":"크루 월간 MVP","description":"크루의 월간 MVP를 조회합니다.","operationId":"getCrewMvp","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"month","in":"query","description":"월 (YYYYMM 형식)","required":false,"schema":{"type":"string"},"example":202412}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewMemberRankingDto"}}}},"204":{"description":"MVP 정보 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewMemberRankingDto"}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewMemberRankingDto"}}}}}}},"/v1/crews/statistics/{crewId}/monthly":{"get":{"tags":["Crew Statistics"],"summary":"크루 월간 통계 조회","description":"특정 크루의 월간 통계를 조회합니다.","operationId":"getCrewMonthlyStatistics","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"month","in":"query","description":"월 (YYYYMM 형식)","required":false,"schema":{"type":"string"},"example":202412}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewStatisticsSummaryDto"}}}},"404":{"description":"통계 데이터를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrewStatisticsSummaryDto"}}}}}}},"/v1/crews/statistics/{crewId}/monthly/all":{"get":{"tags":["Crew Statistics"],"summary":"크루 전체 월간 통계 목록","description":"크루의 모든 월간 통계 목록을 조회합니다.","operationId":"getAllCrewMonthlyStatistics","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewStatisticsEntity"}}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewStatisticsEntity"}}}}}}}},"/v1/crews/statistics/{crewId}/members/ranking":{"get":{"tags":["Crew Statistics"],"summary":"크루 내 멤버 랭킹","description":"크루 내 멤버들의 거리 기준 랭킹을 조회합니다.","operationId":"getMemberRankingInCrew","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"month","in":"query","description":"월 (YYYYMM 형식)","required":false,"schema":{"type":"string"},"example":202412},{"name":"limit","in":"query","description":"조회할 랭킹 수","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewMemberRankingDto"}}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewMemberRankingDto"}}}}}}}},"/v1/crews/statistics/rankings/runs":{"get":{"tags":["Crew Statistics"],"summary":"크루 랭킹 (러닝 횟수 기준)","description":"월간 러닝 횟수 기준으로 크루 랭킹을 조회합니다.","operationId":"getCrewRankingByRunCount","parameters":[{"name":"month","in":"query","description":"월 (YYYYMM 형식)","required":false,"schema":{"type":"string"},"example":202412},{"name":"limit","in":"query","description":"조회할 랭킹 수","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewStatisticsSummaryDto"}}}}}}}},"/v1/crews/statistics/rankings/growth":{"get":{"tags":["Crew Statistics"],"summary":"크루 랭킹 (성장률 기준)","description":"전월 대비 성장률 기준으로 크루 랭킹을 조회합니다.","operationId":"getCrewRankingByGrowth","parameters":[{"name":"currentMonth","in":"query","description":"현재 월 (YYYYMM 형식)","required":false,"schema":{"type":"string"},"example":202412},{"name":"previousMonth","in":"query","description":"이전 월 (YYYYMM 형식)","required":false,"schema":{"type":"string"},"example":202411},{"name":"limit","in":"query","description":"조회할 랭킹 수","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewStatisticsSummaryDto"}}}}}}}},"/v1/crews/statistics/rankings/distance":{"get":{"tags":["Crew Statistics"],"summary":"크루 랭킹 (거리 기준)","description":"월간 총 거리 기준으로 크루 랭킹을 조회합니다.","operationId":"getCrewRankingByDistance","parameters":[{"name":"month","in":"query","description":"월 (YYYYMM 형식)","required":false,"schema":{"type":"string"},"example":202412},{"name":"limit","in":"query","description":"조회할 랭킹 수","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewRankingDto"}}}}}}}},"/v1/crews/search":{"get":{"tags":["Crew Management"],"summary":"크루 검색","description":"크루 이름으로 검색합니다.","operationId":"searchCrews","parameters":[{"name":"keyword","in":"query","description":"검색 키워드","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"검색 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageCrewListResponse"}}}}}}},"/v1/crews/my":{"get":{"tags":["Crew Management"],"summary":"내가 속한 크루 목록","description":"현재 사용자가 속한 크루들을 조회합니다.","operationId":"getMyCrews","parameters":[{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageCrewListResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageCrewListResponse"}}}}}}},"/v1/crews/memberships/my":{"get":{"tags":["Crew Member Management"],"summary":"내가 속한 크루 목록","description":"현재 사용자가 속한 모든 크루의 멤버십 정보를 조회합니다.","operationId":"getMyCrewMemberships","responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewMemberResponse"}}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrewMemberResponse"}}}}}}}},"/v1/crews/joinable":{"get":{"tags":["Crew Join Management"],"summary":"가입 가능한 크루들","description":"현재 사용자가 가입 가능한 크루 ID 목록을 조회합니다.","operationId":"getJoinableCrewIds","responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}}}}}},"/v1/crews/join-requests/{requestId}":{"get":{"tags":["Crew Join Management"],"summary":"가입 신청 상세 조회","description":"특정 가입 신청의 상세 정보를 조회합니다.","operationId":"getJoinRequestDetail","parameters":[{"name":"requestId","in":"path","description":"가입 신청 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JoinRequestResponse"}}}},"404":{"description":"가입 신청을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JoinRequestResponse"}}}}}},"delete":{"tags":["Crew Join Management"],"summary":"가입 신청 취소","description":"본인이 신청한 가입 신청을 취소합니다.","operationId":"cancelJoinRequest","parameters":[{"name":"requestId","in":"path","description":"가입 신청 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"취소 성공"},"400":{"description":"이미 처리된 신청"},"401":{"description":"인증 실패"},"403":{"description":"본인이 신청한 것이 아님"},"404":{"description":"가입 신청을 찾을 수 없음"}}}},"/v1/crews/join-requests/my":{"get":{"tags":["Crew Join Management"],"summary":"내 가입 신청 내역","description":"현재 사용자의 모든 가입 신청 내역을 조회합니다.","operationId":"getMyJoinRequests","responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JoinRequestResponse"}}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JoinRequestResponse"}}}}}}}},"/v1/auth/check-nickname":{"get":{"tags":["인증 API"],"summary":"닉네임 중복 확인","description":"닉네임 사용 가능 여부를 확인합니다. (무인증)","operationId":"checkNickname","parameters":[{"name":"nickname","in":"query","description":"중복 확인할 닉네임","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"확인 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringBoolean"}}}},"400":{"description":"잘못된 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringBoolean"}}}},"500":{"description":"서버 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringBoolean"}}}}}}},"/":{"get":{"tags":["root-controller"],"operationId":"home","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"type":"string"}}}}}}},"/v1/notifications/fcm-token/{deviceId}":{"delete":{"tags":["알림 API"],"summary":"FCM 토큰 비활성화","description":"특정 디바이스의 FCM 토큰 비활성화 (로그아웃 시)","operationId":"deactivateFcmToken","parameters":[{"name":"deviceId","in":"path","description":"디바이스 ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}},"security":[{"Bearer Authentication":[]}]}},"/v1/files/profile":{"delete":{"tags":["파일 업로드"],"summary":"프로필 이미지 삭제","description":"사용자의 프로필 이미지를 S3에서 삭제하고 데이터베이스 정보를 초기화합니다.\n\n**동작:**\n- S3에서 기존 프로필 이미지 파일 삭제\n- 사용자 프로필 이미지 URL 및 Key 필드 초기화\n","operationId":"deleteProfileImage","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"프로필 이미지 삭제 성공","content":{"application/json":{"example":{"success":true,"message":"프로필 이미지가 성공적으로 삭제되었습니다.","data":null}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/v1/files/crew/{crewId}/profile":{"delete":{"tags":["파일 업로드"],"summary":"크루 프로필 이미지 삭제","description":"크루의 프로필 이미지를 S3에서 삭제하고 데이터베이스 정보를 초기화합니다.\n\n**동작:**\n- S3에서 기존 크루 프로필 이미지 파일 삭제\n- 크루 프로필 이미지 URL 필드 초기화\n\n**권한:**\n- 크루장만 삭제 가능\n","operationId":"deleteCrewProfileImage","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"크루 프로필 이미지 삭제 성공","content":{"application/json":{"example":{"success":true,"message":"크루 프로필 이미지가 성공적으로 삭제되었습니다.","data":null}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"403":{"description":"권한 없음 (크루장이 아님)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"404":{"description":"크루를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/v1/crews/{crewId}/members/leave":{"delete":{"tags":["Crew Member Management"],"summary":"크루 탈퇴","description":"현재 사용자가 크루에서 탈퇴합니다. 크루장은 탈퇴할 수 없습니다.","operationId":"leaveCrew","parameters":[{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"탈퇴 성공"},"400":{"description":"크루장은 탈퇴할 수 없음"},"401":{"description":"인증 실패"},"404":{"description":"크루 또는 멤버십을 찾을 수 없음"}}}},"/v1/crews/{crewId}/chat/messages/{messageId}":{"delete":{"tags":["크루 채팅"],"summary":"메시지 삭제","description":"채팅 메시지를 삭제합니다. (작성자 또는 크루장만 가능)","operationId":"deleteMessage","parameters":[{"name":"me","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"crewId","in":"path","description":"크루 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"messageId","in":"path","description":"메시지 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}}},"components":{"schemas":{"AuthenticatedUser":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"}}},"UserUpdateRequest":{"type":"object","properties":{"nickname":{"type":"string","maxLength":20,"minLength":2},"residence":{"type":"string","maxLength":100,"minLength":2},"profile_image_url":{"type":"string","pattern":"^https?://.*$"},"weekly_goal_distance":{"type":"number","maximum":999.99,"minimum":0.01},"profile_image_key":{"type":"string"}}},"ApiResponseVoid":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"JourneyProgressUpdateRequest":{"type":"object","description":"여행 진행률 업데이트 요청","properties":{"sessionId":{"type":"string","description":"러닝 세션 ID","example":"session-uuid-123","minLength":1},"distanceKm":{"type":"number","format":"double","description":"이번 세션에서 뛴 거리 (km)","example":2.5,"minimum":0.0},"currentLocation":{"$ref":"#/components/schemas/LocationPoint","description":"현재 위치"},"durationSeconds":{"type":"integer","format":"int32","description":"운동 시간 (초)","example":1800,"minimum":0},"calories":{"type":"integer","format":"int32","description":"소모 칼로리","example":250,"minimum":0},"averagePaceSeconds":{"type":"integer","format":"int32","description":"평균 페이스 (초/km)","example":360,"minimum":0}},"required":["distanceKm","sessionId"]},"LocationPoint":{"type":"object","description":"위치 정보","properties":{"latitude":{"type":"number","format":"double","description":"위도","example":37.5665},"longitude":{"type":"number","format":"double","description":"경도","example":126.978}},"required":["latitude","longitude"]},"JourneyProgressResponse":{"type":"object","description":"여행 진행률 응답","properties":{"progressId":{"type":"integer","format":"int64","description":"진행 ID","example":1},"currentDistanceKm":{"type":"number","format":"double","description":"현재 누적 거리 (km)","example":123.4},"progressPercent":{"type":"number","format":"double","description":"진행률 (%)","example":35.2},"status":{"type":"string","description":"진행 상태","example":"ACTIVE"},"nextLandmark":{"$ref":"#/components/schemas/LandmarkSummaryResponse","description":"다음 랜드마크 정보"},"collectedStamps":{"type":"integer","format":"int32","description":"수집한 스탬프 수","example":5},"totalLandmarks":{"type":"integer","format":"int32","description":"총 랜드마크 수","example":15}}},"LandmarkSummaryResponse":{"type":"object","description":"랜드마크 요약 응답","properties":{"id":{"type":"integer","format":"int64","description":"랜드마크 ID","example":1},"name":{"type":"string","description":"랜드마크 이름","example":"경복궁"},"latitude":{"type":"number","format":"double","description":"위도","example":37.5796},"longitude":{"type":"number","format":"double","description":"경도","example":126.977},"distanceFromStart":{"type":"number","format":"double","description":"시작점으로부터 거리 (km)","example":25.5},"imageUrl":{"type":"string","description":"랜드마크 이미지 URL","example":"https://example.com/landmark.jpg"},"countryCode":{"type":"string","description":"국가 코드","example":"KR"},"cityName":{"type":"string","description":"도시명","example":"서울"}}},"CrewUpdateRequest":{"type":"object","description":"크루 정보 수정 요청","properties":{"name":{"type":"string","description":"크루 이름","example":"서울 러닝 크루","maxLength":50,"minLength":0},"description":{"type":"string","description":"크루 소개","example":"함께 달리며 건강한 라이프스타일을 추구하는 크루입니다","maxLength":500,"minLength":0},"maxMembers":{"type":"integer","format":"int32","description":"최대 인원","example":20,"maximum":100,"minimum":2},"profileImageUrl":{"type":"string","description":"프로필 이미지 URL","example":"https://example.com/crew-profile.jpg"}}},"CrewDetailResponse":{"type":"object","description":"크루 상세 정보 응답","properties":{"id":{"type":"integer","format":"int64","description":"크루 ID","example":1},"name":{"type":"string","description":"크루 이름","example":"서울 러닝 크루"},"description":{"type":"string","description":"크루 소개","example":"함께 달리며 건강한 라이프스타일을 추구하는 크루입니다"},"maxMembers":{"type":"integer","format":"int32","description":"최대 인원","example":20},"currentMembers":{"type":"integer","format":"int32","description":"현재 멤버 수","example":10},"profileImageUrl":{"type":"string","description":"프로필 이미지 URL","example":"https://example.com/crew-profile.jpg"},"isActive":{"type":"boolean","description":"활성화 상태","example":true},"ownerId":{"type":"integer","format":"int64","description":"크루장 ID","example":123},"ownerNickname":{"type":"string","description":"크루장 닉네임","example":"김러너"},"createdAt":{"type":"string","format":"date-time","description":"생성일","example":"2024-01-15T10:30:00"},"updatedAt":{"type":"string","format":"date-time","description":"수정일","example":"2024-01-15T10:30:00"}}},"NotificationSettingsRequest":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"notificationType":{"type":"string","description":"알림 타입","enum":["ALL","MENTIONS_ONLY","ANNOUNCEMENTS"]},"isMuted":{"type":"boolean"}}},"ApiResponseCrewChatNotificationSettingEntity":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"$ref":"#/components/schemas/CrewChatNotificationSettingEntity","description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"CrewChatNotificationSettingEntity":{"type":"object","description":"크루 채팅 알림 설정","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64","description":"알림 설정 ID","example":1},"crew":{"$ref":"#/components/schemas/CrewEntity","description":"크루"},"user":{"$ref":"#/components/schemas/User","description":"사용자"},"isEnabled":{"type":"boolean","description":"채팅 알림 활성화","example":true},"notificationType":{"type":"string","description":"알림 타입","enum":["ALL","MENTIONS_ONLY","ANNOUNCEMENTS"],"example":"ALL"},"isMuted":{"type":"boolean","description":"무음 설정","example":false}}},"CrewEntity":{"type":"object","description":"크루 엔티티","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64","description":"크루 ID","example":1},"name":{"type":"string","description":"크루 이름","example":"서울 러닝 크루"},"description":{"type":"string","description":"크루 소개","example":"함께 달리며 건강한 라이프스타일을 추구하는 크루입니다"},"maxMembers":{"type":"integer","format":"int32","description":"최대 인원","example":20},"profileImageUrl":{"type":"string","description":"프로필 이미지 URL","example":"https://example.com/crew-profile.jpg"},"isActive":{"type":"boolean","description":"활성화 상태","example":true},"currentMembers":{"type":"integer","format":"int32","description":"현재 멤버 수","example":10},"version":{"type":"integer","format":"int64","description":"낙관적 잠금을 위한 버전 필드"},"owner":{"$ref":"#/components/schemas/User","description":"크루장"},"members":{"type":"array","description":"크루 멤버들","items":{"$ref":"#/components/schemas/CrewMemberEntity"}},"joinRequests":{"type":"array","description":"가입 신청들","items":{"$ref":"#/components/schemas/CrewJoinRequestEntity"}},"currentMemberCount":{"type":"integer","format":"int32"},"full":{"type":"boolean"}}},"CrewJoinRequestEntity":{"type":"object","description":"크루 가입 신청 엔티티","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64","description":"가입 신청 ID","example":1},"crew":{"description":"크루"},"user":{"$ref":"#/components/schemas/User","description":"신청자"},"message":{"type":"string","description":"신청 메시지","example":"안녕하세요! 함께 러닝하고 싶습니다."},"status":{"type":"string","description":"신청 상태","enum":["PENDING","APPROVED","REJECTED","CANCELLED"],"example":"PENDING"},"processedAt":{"type":"string","format":"date-time","description":"처리일","example":"2024-01-15T10:30:00"},"processedBy":{"$ref":"#/components/schemas/User","description":"처리자 (크루장)"},"processingNote":{"type":"string","description":"처리 메모","example":"환영합니다!"},"cancelled":{"type":"boolean"},"pending":{"type":"boolean"},"approved":{"type":"boolean"},"rejected":{"type":"boolean"}}},"CrewMemberEntity":{"type":"object","description":"크루 멤버 엔티티","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64","description":"크루 멤버 ID","example":1},"crew":{"description":"크루"},"user":{"$ref":"#/components/schemas/User","description":"사용자"},"role":{"type":"string","description":"크루 내 역할","enum":["OWNER","MEMBER"],"example":"MEMBER"},"joinedAt":{"type":"string","format":"date-time","description":"가입일","example":"2024-01-15T10:30:00"},"isActive":{"type":"boolean","description":"활성화 상태","example":true},"owner":{"type":"boolean"},"member":{"type":"boolean"}}},"User":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"kakaoId":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"residence":{"type":"string"},"ageGroup":{"type":"string","enum":["10대","20대","30대","40대","50대","60대 이상"]},"gender":{"type":"string","enum":["남성","여성"]},"weeklyGoalDistance":{"type":"number"},"profileImageUrl":{"type":"string"},"profileImageKey":{"type":"string"},"isOnboardingCompleted":{"type":"boolean"},"totalDistance":{"type":"number"},"totalRunningCount":{"type":"integer","format":"int32"},"version":{"type":"integer","format":"int64"}}},"StampCollectRequest":{"type":"object","description":"스탬프 수집 요청","properties":{"progressId":{"type":"integer","format":"int64","description":"여행 진행 ID","example":1},"landmarkId":{"type":"integer","format":"int64","description":"랜드마크 ID","example":1},"collectionLocation":{"$ref":"#/components/schemas/LocationPoint","description":"수집 위치"}},"required":["landmarkId","progressId"]},"StampResponse":{"type":"object","description":"스탬프 응답","properties":{"id":{"type":"integer","format":"int64","description":"스탬프 ID","example":1},"landmark":{"$ref":"#/components/schemas/LandmarkSummaryResponse","description":"랜드마크 정보"},"collectedAt":{"type":"string","format":"date-time","description":"수집 시간","example":"2024-01-15T14:30:00"},"stampImageUrl":{"type":"string","description":"스탬프 이미지 URL","example":"https://example.com/stamp.png"}}},"PointDto":{"type":"object","properties":{"latitude":{"type":"number","format":"double","example":37.5665},"longitude":{"type":"number","format":"double","example":126.978},"sequence":{"type":"integer","format":"int32","description":"경로 순번(0부터)","example":15}}},"RunningUpdateRequest":{"type":"object","properties":{"sessionId":{"type":"string","description":"세션 ID","example":"abc123"},"distanceMeters":{"type":"number","format":"double","description":"누적 이동 거리(미터)","example":1500},"durationSeconds":{"type":"integer","format":"int32","description":"누적 운동 시간(초)","example":420},"averagePaceSeconds":{"type":"integer","format":"int32","description":"평균 페이스(초/킬로)","example":280},"calories":{"type":"integer","format":"int32","description":"소모 칼로리","example":110},"currentPoint":{"$ref":"#/components/schemas/PointDto","description":"현재 좌표 포인트"}}},"ApiResponseRunningUpdateResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"$ref":"#/components/schemas/RunningUpdateResponse","description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"RunningUpdateResponse":{"type":"object","properties":{"ack":{"type":"boolean","description":"저장 성공 여부","example":true}}},"RunningStartRequest":{"type":"object","description":"러닝 시작 요청","properties":{"sessionId":{"type":"string","description":"러닝 세션 ID (클라이언트 또는 서버 생성)","example":"b6b2b8b5-2d8d-4e8f-9a8e-7e6c5d4f3a21","minLength":1},"runningType":{"type":"string","description":"러닝 타입","enum":["SINGLE","JOURNEY"],"example":"SINGLE"}},"required":["runningType","sessionId"]},"ApiResponseRunningStartResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"$ref":"#/components/schemas/RunningStartResponse","description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"RunningStartResponse":{"type":"object","description":"러닝 시작 응답","properties":{"sessionId":{"type":"string","description":"러닝 세션 ID","example":"b6b2b8b5-2d8d-4e8f-9a8e-7e6c5d4f3a21"},"startedAt":{"type":"string","format":"date-time","description":"러닝 시작 시각(한국시간 ISO-8601)","example":"2025-08-10T09:30:00"}}},"RunningPauseResumeRequest":{"type":"object","properties":{"sessionId":{"type":"string","description":"세션 ID","example":"abc123"}}},"ApiResponseRunningPauseResumeResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"$ref":"#/components/schemas/RunningPauseResumeResponse","description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"RunningPauseResumeResponse":{"type":"object","properties":{"ack":{"type":"boolean","description":"처리 여부","example":true},"status":{"type":"string","description":"현재 상태","example":"PAUSED"}}},"RoutePoint":{"type":"object","description":"경로 좌표 한 점","properties":{"latitude":{"type":"number","format":"double","description":"위도","example":37.5665},"longitude":{"type":"number","format":"double","description":"경도","example":126.978},"sequence":{"type":"integer","format":"int32","description":"경로 순서(0부터 시작 권장)","example":0,"minimum":0}},"required":["latitude","longitude","sequence"]},"RunningCompleteRequest":{"type":"object","description":"러닝 완료 요청","properties":{"sessionId":{"type":"string","description":"러닝 세션 ID","example":"b6b2b8b5-2d8d-4e8f-9a8e-7e6c5d4f3a21","minLength":1},"distanceMeters":{"type":"integer","format":"int32","description":"총 이동 거리(미터)","example":5200},"durationSeconds":{"type":"integer","format":"int32","description":"총 소요 시간(초)","example":1800},"averagePaceSeconds":{"type":"integer","format":"int32","description":"평균 페이스(초/킬로미터). 서버에서 재계산해도 됨.","example":347},"calories":{"type":"integer","format":"int32","description":"칼로리(kcal). 서버에서 계산/보정 가능","example":350},"routePoints":{"type":"array","description":"경로 좌표 리스트(선택). sequence 오름차순으로 정렬해 주세요.","items":{"$ref":"#/components/schemas/RoutePoint"}}},"required":["distanceMeters","durationSeconds","sessionId"]},"ApiResponseRunningCompleteResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"$ref":"#/components/schemas/RunningCompleteResponse","description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"EmblemAwardResult":{"type":"object","description":"엠블럼 지급 결과","properties":{"awarded_count":{"type":"integer","format":"int32","description":"지급된 엠블럼 개수","example":2},"awarded_emblem_ids":{"type":"array","description":"지급된 엠블럼 ID 목록","example":[1,5],"items":{"type":"integer","format":"int64"}}}},"RunningCompleteResponse":{"type":"object","properties":{"runningRecordId":{"type":"integer","format":"int64","description":"러닝 기록 ID"},"title":{"type":"string","description":"러닝 제목 (수정 가능)"},"totalDistanceKm":{"type":"number","format":"double","description":"총 거리 (km)"},"averagePace":{"type":"string","description":"평균 페이스 (MM:SS)"},"durationSeconds":{"type":"integer","format":"int32","description":"러닝 지속 시간 (초)"},"calories":{"type":"integer","format":"int32","description":"칼로리 소모량"},"startedAt":{"type":"string","description":"시작 시각 (ISO 8601 문자열)"},"endedAt":{"type":"string","description":"완료 시각 (ISO 8601 문자열)"},"routePoints":{"type":"array","description":"러닝 경로 좌표 목록","items":{"$ref":"#/components/schemas/RoutePoint"}},"emblemAwardResult":{"$ref":"#/components/schemas/EmblemAwardResult","description":"엠블럼 지급 결과"},"runningType":{"type":"string","description":"러닝 타입 (SINGLE / JOURNEY)"}}},"ApiResponseRunningAnalysisResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"$ref":"#/components/schemas/RunningAnalysisResponse","description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"RunningAnalysisResponse":{"type":"object","properties":{"feedbackId":{"type":"integer","format":"int64"},"runningRecordId":{"type":"integer","format":"int64"},"feedbackContent":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"modelName":{"type":"string"}}},"ApiResponseString":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"type":"string","description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"FcmTokenRequest":{"type":"object","description":"FCM 토큰 등록 요청","properties":{"fcmToken":{"type":"string","description":"FCM 토큰","example":"dXGfz1234...","minLength":1},"deviceId":{"type":"string","description":"디바이스 ID (고유 식별자)","example":"device-uuid-1234","minLength":1},"deviceType":{"type":"string","description":"디바이스 타입","enum":["IOS","ANDROID"],"example":"ANDROID"}},"required":["deviceId","deviceType","fcmToken"]},"GuestbookCreateRequest":{"type":"object","description":"방명록 작성 요청","properties":{"landmarkId":{"type":"integer","format":"int64","description":"랜드마크 ID","example":1},"message":{"type":"string","description":"방명록 메시지","example":"정말 아름다운 곳이에요!","maxLength":500,"minLength":0},"isPublic":{"type":"boolean","description":"공개 여부","example":true}},"required":["landmarkId","message"]},"GuestbookResponse":{"type":"object","description":"방명록 응답","properties":{"id":{"type":"integer","format":"int64","description":"방명록 ID","example":1},"user":{"$ref":"#/components/schemas/UserSummaryResponse","description":"작성자 정보"},"landmark":{"$ref":"#/components/schemas/LandmarkSummaryResponse","description":"랜드마크 정보"},"message":{"type":"string","description":"방명록 메시지","example":"정말 아름다운 곳이에요!"},"createdAt":{"type":"string","format":"date-time","description":"작성 시간","example":"2024-01-15T14:30:00"}}},"UserSummaryResponse":{"type":"object","description":"사용자 요약 정보","properties":{"id":{"type":"integer","format":"int64","description":"사용자 ID","example":1},"nickname":{"type":"string","description":"닉네임","example":"러너123"},"profileImageUrl":{"type":"string","description":"프로필 이미지 URL","example":"https://example.com/profile.jpg"}}},"PresignRequest":{"type":"object","properties":{"contentType":{"type":"string","minLength":1},"size":{"type":"integer","format":"int64"}},"required":["contentType"]},"ApiResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"ApiResponsePresignResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"$ref":"#/components/schemas/PresignResponse","description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"PresignResponse":{"type":"object","description":"S3 Presigned URL 응답","properties":{"upload_url":{"type":"string","description":"업로드용 Presigned URL"},"download_url":{"type":"string","description":"다운로드용 Presigned URL"},"key":{"type":"string","description":"S3 오브젝트 키","example":"profiles/12345/profile.png"},"expires_in":{"type":"integer","format":"int32","description":"만료 시간(초)","example":300}}},"FeedCreateRequest":{"type":"object","properties":{"runningRecordId":{"type":"integer","format":"int64","description":"연결된 러닝 기록 ID","example":456},"content":{"type":"string","description":"피드 텍스트","example":"오늘 5km 달렸어요! 🏃‍♂️"},"imageUrl":{"type":"string","description":"이미지 URL (S3 업로드 후 경로)","example":"https://example.com/running_photo.jpg"},"imageKey":{"type":"string","description":"이미지 Key (S3 삭제 시 필요)","example":"feeds/2025-08-24/1/uuid1234"}}},"ApiResponseFeedResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"요청이 성공적으로 처리되었습니다."},"data":{"$ref":"#/components/schemas/FeedResponse","description":"응답 데이터"},"timestamp":{"type":"string","description":"응답 시간","example":"2024-01-01T12:00:00Z"},"errorCode":{"type":"string","description":"에러 코드 (실패시에만)","example":"USER_NOT_FOUND"}}},"FeedResponse":{"type":"object","description":"피드 응답 DTO","properties":{"id":{"type":"integer","format":"int64","description":"피드 ID","example":101},"content":{"type":"string","description":"피드 본문(한줄 글쓰기)","example":"오늘 5km 달림!"},"imageUrl":{"type":"string","description":"업로드된 이미지 URL (S3)","example":"https://s3.../feed123.jpg"},"likeCount":{"type":"integer","format":"int32","description":"좋아요 개수","example":12},"liked":{"type":"boolean","description":"현재 로그인한 사용자가 좋아요 눌렀는지 여부","example":true},"createdAt":{"type":"string","format":"date-time","description":"작성 시간","example":"2025-08-18T02:45:00Z"},"userId":{"type":"integer","f
[...]
